<!DOCTYPE html>
<html class="w-full h-full" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="w-full h-full bg-light-cream">
    <img id="menuToggleButton" class="w-[50px] h-[50px] hover:cursor-pointer z-50 m-5 sm:hidden" src="assets/MenuIcon.svg" onclick="toggleMenuHidden()" />
    <nav id="menu" class="w-full flex justify-center items-center h-[350px] hidden bg-black bg-opacity-60 z-40 sm:block sm:h-[150px] sm:bg-light-cream lg:flex lg:justify-center">
      <div class="flex flex-col justify-between w-[40%] h-[300px] sm:w-full sm:flex-row sm:items-center sm:h-full lg:w-[60%]">
        <a class="w-full h-[60px] flex justify-center items-center bg-medium-cream hover:bg-dark-cream rounded-full sm:mx-4 drop-shadow-sm hover:drop-shadow-md" href="/">Home</a>
        <a class="w-full h-[60px] flex justify-center items-center bg-medium-cream hover:bg-dark-cream rounded-full sm:mx-4 drop-shadow-sm hover:drop-shadow-md" href="/">Manual</a>
        <a class="w-full h-[60px] flex justify-center items-center bg-medium-cream hover:bg-dark-cream rounded-full sm:mx-4 drop-shadow-sm hover:drop-shadow-md" href="/">About</a>
        <a class="w-full h-[60px] flex justify-center items-center bg-medium-cream hover:bg-dark-cream rounded-full sm:mx-4 drop-shadow-sm hover:drop-shadow-md" href="/">Contact Us</a>
      </div>
    </nav>
    <div class="w-full h-[60px] bg-white">
      rest of site goes here
    </div>


    <script src="scripts/home.js"></script>
  </body>
</html>